form {
    margin-block-end: 0px;
}

form > div > * {
    margin: 7px 8px;
}

#firstName,
#lastName {
    padding: 10px;
}

.save-button,
.reset-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100px;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 760px) {
    form {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    form > div {
        align-self: center;
        display: flex;
        flex-direction: row;
    }
}
